body {
	width: 970px;
	display: inline-block;
	padding: 15px;
}
#boxes {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0px 10px 0px;
}

span {
		
	border: 1px solid black;
	font-weight: bold;
	
}
.building {
	width: 195px;
	height: 150px;
	display: inline-block;
	vertical-align: top;
	margin: 0px auto;
	text-align: center;
	padding: 20px;
	border: 1px solid black;
}

#logbox {
	width: 930px;
	height: 150px;
	margin: 0px auto;
	border: 1px solid black;
	font-family: sans-serif;
	text-align: left;
	overflow-y: scroll;
}

h1 {
	margin: 0px auto;
}

h2 {

	margin: 0px auto;
}

button {
	vertical-align: bottom;
	font-weight: bold;
	width: 90px;
	height: 30px;
	border: 1px solid black;
	background-color: yellow;
}

#casinolinespc {
	margin-bottom: 10px;
}

#image {
	width: 75px;
	height: auto;
	display: inline-block;
	
}

#header {
	display: inline-block;
	width: 900px;
	height: auto;
	margin: 0px auto;
	text-align: left;
}

